

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<% if current_page?(new_admin_registration_path) %>
<h2>管理者登録</h2>


<% else %>
<h2>新規ユーザー登録</h2>

  <span>名前</span>
  <!--レイアウト未-->
  <div class="field">

    <%= f.label :first_name, "(姓)" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name" %>

    <%= f.label :last_name, "(名)" %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name" %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana, "(セイ)" %>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "given-name" %>

    <%= f.label :last_name_kana, "(メイ)" %>
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "family-name" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフン無し)" %>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal-code" %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, autofocus: true, autocomplete: "street-address" %>
  </div>

  <div class="field">
    <%= f.label :telephone_number, "電話番号(ハイフン無し)" %>
    <%= f.text_field :telephone_number, autofocus: true, autocomplete: "tel" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
  
  <h2>既に登録済みの方</h2>
    <%= render "devise/shared/links" %>
    <!--↑の表記を"こちら"に変えたい-->
  <span>からログインしてください。</span>
<% end %>
<% end %>