<h2>注文詳細画面</h2>

  <b>注文情報</b>
    <table>
      <tr>
        <td>注文日</td>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td><%= @order.address %></td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td><%= @order.payment_method %></td>
      </tr>
      <tr>
        <td>ステータス</td>
        <td><%= @order.status %></td>
      </tr>
    </table>

  <b>請求情報</b>
    <table>
      <tr>
        <td>商品合計</td>
        <td><%= @order.total_payment - 800 %></td>
      </tr>
      <tr>
        <td>配送料</td>
        <td><%= @order.carrage %></td>
      </tr>
      <tr>
        <td>ご請求額</td>
        <td><%= @order.total_payment %></td>
      </tr>
    </table>

  <b>注文内容</b>
    <table>
      <tr>
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
      <tr>
        <% @order.order_details.each do |order_detail| %>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.item.with_tax_price %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.item.with_tax_price * order_detail.amount %></td>
        <% end %>

      </tr>
    </table>