  <div class="d-inline-flex m-4">
    <h4 class="bg-light px-4 align-items-center">会員一覧</h4>
  </div>
  <table class="table table-hover">
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %> </td>
      <td>
      <%= link_to  admin_customer_path(customer.id) do %>
        <%= customer.last_name %>
        <%= customer.first_name %>
      <% end %>
      </td>
      <td><%= customer.email %> </td>
      <td>
        <p>
        <% if customer.is_active == true %>
          有効
        <% else %>
          退会
        <% end %>
         </p>
      </td>
    </tr>
    <% end %>

  </table>
  <%= paginate(@customers) %>