<div class="d-flex mt-5 align-items-center justify-content-center">
  <div style="margin-right:50px">
    <%= attachment_image_tag @items, :image, :fill, 200, 200 %>
  </div>
  <div>
    <h4 class="mb-3"><%= @items.name %></h4>
    <p class="mb-3"><%= @items.introduction %></p>
    <div class="mb-3">

      <b>¥<%= @items.with_tax_price %></b>
      <span>(税込)</span>
    </div>
    <div>
      <%= form_with model: @cart_items, url:cart_items_path, local:true do |f| %>
        <%= f.select :amount, *[1..10] %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.hidden_field :item_id, value: @items.id %>
        <%= f.submit "カートに入れる", class: "mx-5 btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>