<div class="d-inline-flex m-4">
  <h4 class="bg-light px-4 align-items-center">注文履歴一覧</h4>
</div>
  <table class="table table-hover">
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
    <% @orders.each do |order| %>
    <% @sum_amount = 0 %>
    <tr>
      <td> <%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order.id) %> </td>
      <td><%= order.name %> </td>
      <td>
        <% order.order_details.each do |order_detail| %>
          <% @sum_amount += order_detail.amount %>
        <% end %>
        <%= @sum_amount %>
      </td>
      <td><%= order.status %> </td>
    </tr>
    <% end %>
  </table>
  <div class="d-flex align-items-center">
  </div>

<div class="container">
    <div class="d-flex align-items-center justify-content-center">
    <%= paginate(@orders) %>
    </div>
  </div>