<% if current_page?(new_customer_session_path) %>
  <h2>ログイン</h2>
    <h3>会員の方はこちらからログイン</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
  <p>会員登録がお済みでない方</p>
  <%= render "devise/shared/links" %>
  <span>から新規登録を行ってください。</span>
<% else %>

  <h2>管理者ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    <% end %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
<% end %>
