<%= form_with model: @addresses, url:address_path, method: :patch, local:true do |f| %>
  <div class="d-inline-flex m-4">
    <h4 class="bg-light px-4 align-items-center">配送先編集</h4>
  </div>

  <div class="mb-2">
    <span style="margin-right:35px">郵便番号(ハイフンなし)</span>
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal-code" %>
  </div>
  <div class="mb-2">
    <span style="margin-right:11rem">住所</span>
    <%= f.text_field :address, autofocus: true, autocomplete: "street-address" %>
  </div>
    <span style="margin-right:11rem">宛名</span>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    <%= f.submit "編集内容を保存", class:"btn btn-success ml-5"%>
<% end %>