  <div class="d-inline-flex m-4">
    <h4 class="bg-light px-4 align-items-center">配送先登録/一覧</h4>
  </div>

<div>
  <%= form_with model: @new_address, url:addresses_path, local:true do |f| %>
    <div class="mb-2">
      <b style="margin-right:35px">郵便番号(ハイフンなし)</b>
      <%= f.text_field :postal_code %>
    </div>
    <div class="mb-2">
      <b style="margin-right:11rem">住所</b>
      <%= f.text_field :address %>
    </div>
      <b style="margin-right:11rem">宛名</b>
      <%= f.text_field :name %>
  <%= f.submit '新規登録', class:"btn btn-success ml-5" %>
<% end %>
<table class="table table-hover table-bordered mt-5">
  <tr>
    <th>郵便番号</th>
    <th>住所</th>
    <th>宛名</th>
    <th></th>
  </tr>
  <tr>
    <% @addresses.each do |address| %>
      <td><%= address.postal_code %> </td>
      <td><%= address.address %> </td>
      <td><%= address.name %> </td>
      <td class="text-center">
        <%= link_to "編集する", edit_address_path(address), class: "btn btn-success mx-3"%>
        <%= link_to "削除する", address_path(address), method: :delete, class: "btn btn-danger mx-3"  %>
      </td>
    <% end %>
  </tr>
</table>
  </tr>
  </div>
