<h2>ショッピングカート</h2>

<%= link_to "カートを空にする", destroy_all_cart_items_path %>

<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th></th>

  </tr>
  <tr>
    <% @cart_items.each do |cart_item| %>
    <td>
      <%= attachment_image_tag cart_item, :image, :fill, 50, 50 %>
      <%= cart_item.name %>
    </td>
    <td>
      <%= cart_item.price %>
    </td>
    <td>
      <p>数量</p>
    </td>
    <td>
      <p>小計</p>
    </td>
    <td>
      <%= link_to "削除する", cart_item_path, method: :delete  %>
    </td>
    <% end %>
  </tr>

</table>